@model IssueTracker.Models.UserModel

@{
    ViewBag.Title = "Login";

}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>


@Html.ActionLink("Succesful login", "Index", "Issue", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("Register", "Register",null, new { @class = "btn btn-primary btn-lg" })