body {    

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*---------------- Tables ----------------*/

/* Vertical align */
.table td {
    vertical-align: middle;
}

/* Dark borders on hover */
.custom-table-hover{
    
}
.custom-table-hover td {
    border-bottom: 1px solid transparent; /*Placeholder, so when the last row is hovered, the content below doesn't get shifted*/
}
.custom-table-hover tbody tr:hover td {
    border-bottom: 1px solid currentColor;
    border-top-color: currentColor;
}

/* td for action buttons */
.table .actionTD {
    padding: 0rem;
    font-size: 1.2rem;
    text-align: center;
}

/* collapsing tr */
.table .collapsing-tr td {
    padding: 0px; 
    border: none;
}
.table .collapsing-tr td div .collapseContent {
    padding: 1.5rem;
}

/* Giving a max width for the description column */
.shortDecriptionTd {
    max-width: 10rem;
}

/* ---------------------others--------------------- */
/* change progress bar bg color*/
.progress {
    background-color: #ebebeb;
}

/* padding for the title of the site, to move it further from the navbar */
.page-header {
    padding-top: 1rem;
}

/* For the rotation of carets on click */
.rotatingCaret {
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}
.flipCaret{
    transform: rotate(180deg);
}

/* No underline link */
a:hover.issueLink {
    text-decoration: none;
}