@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Issue Tracker</h1>
    <p class="lead">Short description of the app or smth</p>
    <p>@Html.ActionLink("Go to login page »", "Login", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who am I</h2>
        <p>
            Name, studies, goals?
        </p>
        <p><a class="btn btn-default" href="#">LinkedIn profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Candy</h2>
        <p>.NET framework, MVC, DB, Auth0</p>
        <p><a class="btn btn-default" href="#">GitHub repository &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What I do</h2>
        <p>Interests, work</p>
        <p><a class="btn btn-default" href="#">No need for a btn bro &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>About</h2>
        <p>Use this area to provide additional information.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>